@model Application.Main.Definition.MyCustomProcessFlow.Steps.Responses.IAdditionalInformationResponse
@{
    ViewBag.Title = "Información complementaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="legal">
    <img src="~/Images/Content/legal.png" alt="Alternate Text"/>
</div>
<div class="step-content">
    <div class="linea-step">
        <div class="col-xs-12 col-sm-6 desc-step">
            <p>Empieza a disfrutar de tu Tarjeta de Crédito</p>
        </div>
        <div class="col-xs-12 col-sm-6 li-step">
            <div class="col-xs-4 col-sm-4 validado">1. Ingresa</div>
            <div class="col-xs-4 col-sm-4 validado">
                <span>2.</span> Valida
            </div>
            <div class="col-xs-4 col-sm-4 bull active">
                <span>3.</span> Solicita
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="conts">
        <div class="col-xs-12 col-md-4 bordes">
            <p class="desc-step">Número de Solicitud: <span class="red">@Model.UserInfoDto.SimpleId</span></p>
            <p class="desc-step">Registro: <span class="ok-rgtr"></span></p>
            <div class="resumen-data">
                @{
                    Html.RenderPartial("~/Views/Request/_SummaryData.cshtml");
                }
            </div>
            <p class="desc-step">Validación de identidad: <span class="ok-rgtr"></span></p>
            <span class="proccess">Validado</span>
        </div>
        <div class="col-xs-12 col-md-8 paddmov">
            <p class="">
                <strong>@Model.UserInfoDto.Names,</strong> este es el último paso para tener “Tu <span class="red">Tarjeta de Crédito</span>”
            </p>
            <div class="test">
                <form action="@Url.Action("SaveAdditionalInformation", "Request")" method="POST" data-x="x-validate" class="form-step form-step3">
                    <p class="bolds">Tus Datos</p>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4">
                            <label>
                                Actividad Económica <span class="symbol required"></span>
                            </label>
                            <select name="26" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-x="x-kdropdown" data-url="/Data/GetDataListValues/" data-value="18397"></select>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span class="input input--hoshi">
                                <input name="27" class="input__field input__field--hoshi validate[required,custom[onlyLetterNumber], maxSize[2]]" type="text" id="27" placeholder="" value="24">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="27">
                                    <span class="input__label-content input__label-content--hoshi input-block-level">Antigüedad (Meses)<span class="symbol required"></span></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span class="input input--hoshi">
                                <input name="23" class="input__field input__field--hoshi validate[required,custom[onlyLetterNumber], maxSize[15]]" type="text" id="23" placeholder="" value="1500000">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="23">
                                    <span class="input__label-content input__label-content--hoshi input-block-level">Ingresos<span class="symbol required"></span></span>
                                </label>
                            </span>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-3">
                            <span class="input input--hoshi">
                                <input name="39" class="input__field input__field--hoshi validate[required,custom[onlyNumberSp],maxSize[2]]" type="text" id="39" placeholder="" value="19">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="39">
                                    <span class="input__label-content input__label-content--hoshi input-block-level">Edad<span class="symbol required"></span></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <label>
                                Estrato <span class="symbol required"></span>
                            </label>
                            <select name="24" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-x="x-kdropdown" data-url="/Data/GetDataListValues/" data-value="18590"></select>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <span class="input input--hoshi">
                                <input name="25" class="input__field input__field--hoshi validate[required,custom[onlyNumberSp],maxSize[2]]" type="text" id="25" placeholder="" value="5">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="25">
                                    <span class="input__label-content input__label-content--hoshi input-block-level">Personas a Cargo<span class="symbol required"></span></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-xs-12 col-md-3 paddno">
                            <label>
                                Producto Solicitado<span class="symbol required"></span>
                            </label>
                            <select name="28" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-x="x-kdropdown" data-url="/Data/GetDataListValues/" data-value="19589"></select>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4">
                            <label>
                                Ciudad de Residencia<span class="symbol required"></span>
                            </label>
                            
                            <select name="33" data-x="x-kdropdownauto" class="validate[funcCall[XGeneral.dropdownlistvalidate]] form-control bord-red" data-url="/Data/GetDataListFilterValue/" type="text" id="33" data-cascadefrom="this" data-value="9218"></select>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span class="input input--hoshi">
                                <input name="20" class="input__field input__field--hoshi validate[required, maxSize[50]] onlyletter" type="text" id="20" placeholder="" value="@Model.UserInfoDto.Address">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="20">
                                    <span class="input__label-content input__label-content--hoshi input-block-level">Dirección de Residencia<span class="symbol required"></span></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span class="input input--hoshi">
                                <input name="9" id="9" class="input__field input__field--hoshi validate[required,custom[onlyNumberSp],maxSize[15]]" type="text" placeholder="" value="@Model.UserInfoDto.Telephone">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="9">
                                    <span class="input__label-content input__label-content--hoshi input-block-level">Teléfono (Residencia)<span class="symbol required"></span></span>
                                </label>
                            </span>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-6 space">

                        </div>
                        <div class="col-xs-12 col-sm-6 space">
                            <input class="btn btn-danger pull-right enviar" value="Siguiente" type="submit">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>