@using Core.Entities.Enumerations
@model Application.Main.Definition.MyCustomProcessFlow.Steps.Responses.IAdditionalInformationResponse
@{
    ViewBag.Title = "Resumen de datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="legal">
    <img src="~/Images/Content/legal.png" alt="Alternate Text"/>
</div>
<div class="step-content">
    <div class="linea-step">
        <div class="col-xs-12 col-sm-6 desc-step">
            @if ((ProductType) Session["Product"] == ProductType.SavingAccount)
            {
                <p>Empieza a disfrutar de tu cuenta de ahorros</p>
            }
            else
            {
                <p>Empieza a disfrutar de tu tarjeta de crédito</p>
            }

        </div>
        <div class="col-xs-12 col-sm-6 li-step">
            <div class="col-xs-4 col-sm-4 validado">1. Ingresa</div>
            <div class="col-xs-4 col-sm-4 validado">2. Valida</div>
            <div class="col-xs-4 col-sm-4 validado">3. Solicita</div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="conts">
        <div class="col-xs-12 col-md-4 bordes">
            <p class="desc-step">Número de solicitud: <span class="red">@Model.UserInfoDto.SimpleId</span></p>
            <p class="desc-step">Registro: <span class="ok-rgtr"></span></p>
            <div class="resumen-data">
                @{
                    Html.RenderPartial("~/Views/Request/_SummaryData.cshtml");
                }
            </div>
            <p class="desc-step">Validación de identidad: <span class="ok-rgtr"></span></p>
            <span class="proccess">Validado</span>
        </div>
        <div class="col-xs-12 col-md-8 paddmov">
            <p class="bolds">
                <strong>Solicitud</strong> <span class="ok-rgtr"></span> <span class="red">@Model.UserInfoDto.ClassificationWsMotor.ToUpper()</span></p>

            <div class="col-xs-12 col-sm-7 paddnov">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>Nacimiento:</td>
                            <th>@Model.UserInfoDto.Birthdate</th>
                        </tr>
                        <tr>
                            <td>Estado civil:</td>
                            <th>@Model.UserInfoDto.CivilStatus</th>
                        </tr>
                        <tr>
                            <td>Actividad económica:</td>
                            <th>@Model.UserInfoDto.EconomicActivity</th>
                        </tr>
                        <tr>
                            <td>Ingresos:</td>
                            <th>$ @Model.UserInfoDto.Income</th>
                        </tr>
                        <tr>
                            <td>Servidor público:</td>
                            <th>@Model.UserInfoDto.PublicServer</th>
                        </tr>

                        <tr>
                            <td>Recojo la tarjeta en:</td>
                            <th>@Model.UserInfoDto.PickTheCard</th>
                        </tr>
                        <tr>
                            <td>Oficina:</td>
                            <th>@Model.UserInfoDto.Office</th>
                        </tr>
                        <tr>
                            <td>Tipo de producto:</td>
                            <th>@Model.UserInfoDto.AccountType</th>
                        </tr>
                        <tr>
                            <td>Extracto por correo:</td>
                            <th>@Model.UserInfoDto.ExtractMail</th>
                        </tr>
                        <tr>
                            <td>Más información:</td>
                            <th>@Model.UserInfoDto.MoreInformation</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="li-step">
                    @*<a href="#"><img src="~/Images/Content/imprimir.png" alt="Imprimir"/></a>*@

                    <a href="#">
                        <img src="~/Images/Content/imprimir.png" alt="Imprimir" onclick="PrintElement($('#respuesta-solicitud-summary'))"/>
                    </a>

                </div>

                <div class="img-summary" id="response-summary">
                    <img src="~/Images/Content/resumen.png" alt="Imagen"/>
                </div>

            </div>
            <div class="col-xs-12 space">
                <a class="btn btn-danger pull-right enviar marginnone" href="@Url.Action("Index", "Request")">
                    Cerrar <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

@{ Html.RenderPartial("~/Views/Shared/_summaryModal.cshtml", Model.UserInfoDto); }

@*Impresion de la respuesta*@


<div class="step-content" id="respuesta-solicitud-summary" hidden="hidden">
    <div class="conts step-content">
        <div class="legalprint">
            <img src="~/Images/Content/legal.png" alt="Alternate Text" />
        </div>
        <div class="contents aproved">
            <p><strong>Bogotá, @Model.UserInfoDto.CreatedDateExecution.ToLongDateString()</strong></p>
            <p><strong>Consecutivo No: </strong> <span>@Model.UserInfoDto.SimpleId</span></p>
            <p><strong>Señor(a) @Model.UserInfoDto.FullName</strong></p>
            @if ((ProductType)Session["Product"] == ProductType.SavingAccount)
            {
                <p>Asunto: Solicitud Cuenta de Ahorros Colpatria</p>
            }
            else
            {
                <p>Asunto: Solicitud Tarjeta de Crédito Colpatria</p>
            }
            @if (Model.UserInfoDto.ClassificationWsMotor == "A")
            {
                Html.RenderPartial("~/Views/Request/RequestAproved.cshtml", Model.UserInfoDto);
            }
            else if (Model.UserInfoDto.ClassificationWsMotor == "D")
            {
                Html.RenderPartial("~/Views/Request/RequestDeclined.cshtml", Model.UserInfoDto);
            }
            else
            {
                Html.RenderPartial("~/Views/Request/RequestPending.cshtml", Model.UserInfoDto);
            }
            <hr />

            <div class="info">
                <div class="desc-info with80">
                    <p class="">
                        Cualquier duda o inquietud puedes contactarte:<br />
                        Chat en www.colpatria.com
                        Horarios de atención:
                        Lunes a Viernes de 7:00 am a 7:00pm - Sábados de 8:00 am a 5:00pm
                        Multilínea:
                        Bogotá 7561616 - Cali 4891616 - Medellín 6041616 - Barranquilla 3851616 - Ibagué 2771616 - Pereira 3401616
                        Cartagena 6931616 - Neiva 8631616 - Bucaramanga 6971616 - Cucuta 5955795 - Valledupar 5898480
                        Popayán 8353735 - Villavicencio 6836126 - Santa Marta 4365966 - Resto del País 01 8000 522 522
                        Mail: servicliente@colpatria.com
                    </p>
                </div>
                <div class="info-log with20">
                    <div class="logo-info">
                        <img src="~/Images/Logos/colpatria_logo.png" alt="Alternate Text" />
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>