@model dynamic
@{
    ViewBag.Title = "Resumen de datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="legal">
    <img src="~/Images/Content/legal.png" alt="Alternate Text" />
</div>
<div class="step-content">
    <div class="linea-step">
        <div class="col-xs-12 col-sm-6 desc-step">
            <p>Empieza a disfrutar de tu Cuenta de Ahorros</p>
        </div>
        <div class="col-xs-12 col-sm-6 li-step">
            <div class="col-xs-4 col-sm-4 validado">1. Ingresa</div>
            <div class="col-xs-4 col-sm-4 validado">2. Valida</div>
            <div class="col-xs-4 col-sm-4 validado">3. Solicita</div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="conts">
        <div class="col-xs-12 col-md-4 bordes">
            <p class="desc-step">Número de Solicitud: <span class="red">56524</span></p>
            <p class="desc-step">Registro: <span class="ok-rgtr"></span></p>
            <div class="resumen-data">
                @{
                    Html.RenderPartial("~/Views/Request/_SummaryData.cshtml");
                }
            </div>
            <p class="desc-step">Validación de identidad: <span class="ok-rgtr"></span></p>
            <span class="proccess">Validado</span>
        </div>
        <div class="col-xs-12 col-md-8 paddmov">
            <p class="bolds"><strong>Solicitud</strong> <span class="ok-rgtr"></span> <span class="red">APROBADA</span></p>
             
            <div class="col-xs-12 col-sm-7 paddnov">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Nacimiento:</td>
                                <th>@Model.UserInfoDto.Birthdate</th>
                            </tr>
                            <tr>
                                <td>Estado Civil:</td>
                                <th>@Model.UserInfoDto.CivilStatus</th>
                            </tr>
                            <tr>
                                <td>Actividad Económica:</td>
                                <th>@Model.UserInfoDto.EconomicActivity</th>
                            </tr>
                            <tr>
                                <td>Ingresos:</td>
                                <th>$ @Model.UserInfoDto.Income</th>
                            </tr>
                            <tr>
                                <td>Servidor Público:</td>
                                <th>@Model.UserInfoDto.PublicServer</th>
                            </tr>
                            
                            <tr>
                                <td>Recojo la Tarjeta en:</td>
                                <th>@Model.UserInfoDto.PickTheCard</th>
                            </tr>
                            <tr>
                                <td>Oficina:</td>
                                <th>@Model.UserInfoDto.Office</th>
                            </tr>
                            <tr>
                                <td>Tipo de Cuenta:</td>
                                <th>@Model.UserInfoDto.AccountType</th>
                            </tr>
                            <tr>
                                <td>Extracto mail:</td>
                                <th>@Model.UserInfoDto.ExtractMail</th>
                            </tr>
                            <tr>
                                <td>Más Información:</td>
                                <th>@Model.UserInfoDto.MoreInformation</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="li-step">
                    <a href="#"><img src="~/Images/Content/imprimir.png" alt="Imprimir" /></a>
                </div>
                <div class="img-summary">
                    <img src="~/Images/Content/resumen.png" alt="Imagen" />
                </div>
                
            </div>
            <div class="col-xs-12 space">
                <a class="btn btn-danger pull-right enviar marginnone" href="@Url.Action("Register", "Request")">
                    Cerrar <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
