@model  Application.Main.Definition.MyCustomProcessFlow.Steps.Responses.IEvidenteResponse 
@using Presentation.Web.Colpatria.Enumerations

@{
    ViewBag.Title = "Validación de datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="legal">
    <img src="~/Images/Content/legal.png" alt="Alternate Text" />
</div>
<div class="step-content">
    <div class="linea-step">
        <div class="col-xs-12 col-sm-6 desc-step">
            @if ((ProductType)Session["Product"] == ProductType.Ca)
            {
                <p>Empieza a disfrutar de tu Cuenta de Ahorros</p>
            }
            else
            {
                <p>Empieza a disfrutar de tu Tarjeta de Crédito</p>
            }
        </div>
        <div class="col-xs-12 col-sm-6 li-step">
            <div class="col-xs-4 col-sm-4 validado">1. Ingresa</div>
            <div class="col-xs-4 col-sm-4 bull active"><span>2.</span> Valida</div>
            <div class="col-xs-4 col-sm-4 bull">3. Solicita</div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="conts">
        <div class="col-xs-12 col-md-4 bordes">
            <p class="desc-step">Número de Solicitud: <span class="red">@Model.UserInfoDto.SimpleId</span></p>
            <p class="desc-step">Registro: <span class="ok-rgtr"></span></p>
            <div class="resumen-data">
                @{
                    Html.RenderPartial("~/Views/Request/_SummaryData.cshtml", Model);
                }
            </div>

            <p class="desc-step">Validación de identidad:</p>
            <span class="proccess">En Proceso...</span>
        </div>
        <div class="col-xs-12 col-md-8 answer">
            <p class=""><strong>@Model.UserInfoDto.Names,</strong> en este paso vamos a validar tu identidad</p>

            <div class="test">



                <form action="@Url.Action("ValidateAnswer", "Request")" method="POST" class="stepMe ac-custom ac-radio ac-fill">
                    <input type="hidden" value="@Model.QuestionsResponse.Id" name="QuestionsId"/>
                    <input type="hidden" value="@Model.UserInfoDto.Identification" name="Identification" />
                    <input type="hidden" value="@Model.QuestionsResponse.Record" name="Record" />
                    @{
                        var i = 0;
                        var p = 1;
                        var q = 1;
                        var countList = Model.QuestionsResponse.Questions.Count();
                    }
                        @foreach (var question in Model.QuestionsResponse.Questions)
                        {
                            var questionValue = question.Order.ToString().Length == 1 ? "0" + question.Order : question.Order.ToString();
                            <fieldset>
                                <p class="bolds">
                                    <span>@q.</span> @question.Text
                                    <input  type="hidden" name="Answers[@i].QuestionId" value="@questionValue"/>
                                </p>
                                <ul>
                                    @foreach (var answer in question.Answers)
                                    {
                                        var answerId = answer.Id;
                                        var answerValue = answerId.Substring(answerId.Length - 2, answerId.Length - 1);

                                        <li><input class="validate[required] radio" id="@("r" + p)" data-name="@("r" + q)" name="Answers[@i].AnswerId" value="@answerValue"  type="radio"><label for="@("r" + p)">@answer.Text</label></li>
                                        p++;
                                    }
                                </ul>
                                <div class="pag">
                                    <span class="red">@q/</span>4
                                </div>
                                @if (countList == q)
                                {
                                    <div>
                                        <input type="submit" class="btn btn-danger pull-right enviar valid" value="Enviar"/>
                                    </div>
                                }
                                
                            </fieldset>
                            i++;
                            q++;
                        }
                </form>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
